<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout::main-fragment(~{::title},~{::#header},~{::#content})}"
>
	<head>
		<meta charset="UTF-8">
		<title>Online library</title>
	</head>
	<body>
		<h1 class="display-2" id="header">Online Library</h1>
		<p class="lead" id="content">Welcome to the Online Library.
			<span sec:authorize="isAuthenticated()">Let's start with <a href="/book/list">book list</a>.</span>
			<span sec:authorize="!isAuthenticated()">To start please <a href="/login">sign in</a>.</span>
		</p>
	</body>
</html>
