<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout::main-fragment(~{::title},~{::#header},~{::#content})}"
>
	<head>
		<meta charset="UTF-8">
		<title>Genre details</title>
	</head>
	<body>
		<h2 id="header" th:text="${name}">Genre name</h2>
		<ul id="content">
			<li th:each="book :${books}">
				<a href="/book/details.html" th:text="${book.title}" th:href="@{/book/{id}/details(id=${book.id})}">
					Book title
				</a>
			</li>
		</ul>
	</body>
</html>
