<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{layout::main-fragment(~{::title},~{::#header},~{::#content})}"
>
	<head>
		<meta charset="UTF-8">
		<title>Edit comment</title>
	</head>
	<body>
		<h2 id="header">Edit comment</h2>
		<form id="content" method="post" name="comment-form" th:action="@{/comment/{id}/update(id=${comment.id})}">
			<textarea class="form-control mb-3" name="text" required th:field="*{comment.text}" ></textarea>
			<button type="submit" class="btn btn-primary">Save</button>
		</form>
	</body>
</html>
